*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 body{
    background-color: rgb(242, 225, 193);
    height: 100vh;
}

header{
    background-color: #ca8b82;
    width: 100%;
    height: 100px;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* sombra discreta abaixo do header */
}

#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.link-c{
    display: flex;
    align-items: center;
    gap: 30px;
}

.lic{
    color: rgb(49, 39, 39);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin-right: 30px;  
}
  
.lic:hover{
    background-color: #f5caca;
    padding: 10px;
    border-radius: 30px;
}

main{
    background-color: rgb(242, 225, 193);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.princ{
    background-color: rgb(243, 231, 210);
    width: 600px;
    height: 400px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 50px;
}

.princ h2{
    display: flex;
    justify-content: center;
    font-size: 50px;
    align-items: center;
    text-align: center;
    padding-top: 25px;
   
}

.princ h5{
    position: absolute;
    bottom: 100px;
    left: 15px;
    right: 15px;
    top: 120px;
    font-size: 15px;
}
.princ a{
    text-align: center;
    position: absolute;
    left: 210px;
    bottom: 60px;
}

#catg {
    background-color: #ca8b82;
    padding: 10px;
    text-align: center;
}
  
.destaque-items {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    align-items: center;
    gap: 8px;
}
  
#item {
    background-color: #decfc1;
    padding: 15px;
    border-radius: 10px;
    height: 80px;
    display: flex;/* Coloca imagem e texto lado a lado */
    align-items: center;
    gap: 5px; /* Espaço entre imagem e texto */
    font-weight: bold;
    font-size: 16px;
}

#item img{
    width: 80px;
    position: relative;
    right: 5px;
}

#prod {
    padding: 20px;
}

#prod h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 20px;
    padding-left: 50px;
}

#phap{
    font-size: 35px;
    color:  rgb(69, 52, 52);
    text-decoration: none;
}
  
.prod-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
  
.prod {
    background-color: #d7a585;
    padding: 30px;
    border-radius: 15px;
    margin: 10px;
    width: 350px;
    text-align: center;
    justify-content: space-around;
}

.pro1{
    width: 280px;
    border-radius: 20px;

}

/* .pro2{
    width: 180px;
    border-radius: 20px;
}

.pro3{
    width: 280px;
    border-radius: 20px;
}

.pro4{
    width: 280px;
    border-radius: 20px;
}

.pro5{
    width: 280px;
    border-radius: 20px;
}  */

footer{
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 9px;
    background-color: rgb(69, 52, 52);
    color: white;
}

/*pag. login*/

#container-l{
    height: 83%;
}

.login{
    width: 500px;
    height: 450px;
    background-color: #ca8b82;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 1.5, 1.5); /* sombra discreta abaixo do header */
}

.login h1{
    text-align: center;
    padding: 35px;
}

.terminei{
    naquiii
}

.login a{
    margin: 13px;
    color:  rgb(69, 52, 52);
    text-decoration: none;
}

label{
    padding-left: 180px;
}

input{
    margin: 10px;
    height: 25px;
    border-radius: 8px;
    
}


.but1-l{
    width: 75px;
    height: 33px;
    border-radius: 20px;
    margin: 10px;
    position: absolute;
    left: 815px;
}

.but2-l{
    width: 75px;
    height: 33px;
    border-radius: 20px;
    margin: 10px;
    position: absolute;
    left: 730px;
}

/*pag esq-senh*/

.but-e{
    font-size: 20px;
    position: absolute;
    margin-left: 5px;
}

/*pag redef-senh*/

.but-r{
    font-size: 20px;
    position: absolute;
    margin-left: 5px;
}

/*pag de vendas*/


#animais{
    padding: 10px;
    text-align: center;
}
  
.animais-items {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    align-items: center;
    gap: 8px;
}
  
#item {
    background-color: #decfc1;
    padding: 15px;
    border-radius: 10px;
    height: 80px;
    display: flex;/* Coloca imagem e texto lado a lado */
    align-items: center;
    gap: 5px; /* Espaço entre imagem e texto */
    font-weight: bold;
    font-size: 16px;
}

#item img{
    width: 80px;
    position: relative;
    right: 5px;
}
